language: cpp
sudo: false
dist: trusty

notifications:
  email:
    on_success: never
    on_failure: always

matrix:
  include:
  - os: osx
    osx_image: xcode9.4
    compiler: clang
    env: COMPILER=clang++
  - os: osx
    osx_image: xcode9
    compiler: clang
    env: COMPILER=clang++
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources: ["ubuntu-toolchain-r-test"]
        packages: ["g++-7"]
    env: COMPILER=g++-7
  - os: linux
    compiler: clang
    addons:
      apt:
        sources: ['llvm-toolchain-trusty-6.0']
        packages: ['clang-6.0']
    env: COMPILER=clang++-6.0

before_install:
- export CXX=${COMPILER}

script:
- cd build
- cmake ..
- make
- test/suite
